@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap);

body {
  font: normal normal 13px/15px
  "Source Sans Pro";
  background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

.container{
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;}

  form {
    display: inline-block;
  }

  input{
    padding: 4px 15px 4px 5px;
  }

  #button{
    display: inline-block;
    background-color: none;
    color: black;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px #504bff, 0 0 20px #504bff, 0 0 30px #504bff;
    transition: all 0.5s ease;
  }

  #button:hover{
    cursor: pointer;
    opacity: .8;}

    ol {padding-left: 20px;}

    ol li {padding: 5px;color:#000;}

    ol li:nth-child(even){background: #dfdfdf;}

    .strike{text-decoration: line-through;}

    li:hover{
      cursor: pointer;
    }

    .delete {
      display: none;
    }

    li > crossOutButton {
      background: none;
      border: none;
      float: right;
      color: #504bff;
      font-weight: 800;
    }
